<!DOCTYPE html>
<html lang="en">
{% load i18n %}

<head>
    <title>{% block title %}{% translate "This is the default title." %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">{% translate "This app name" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_index' %}">{% translate "This is users" %}</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_index' %}">{% translate "This is statuses" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_index' %}">{% translate "This is tags" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_index' %}">{% translate "This is tasks" %}</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{% translate "This is Login" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_user' %}">{% translate "This is Register" %}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input class="nav-link btn" type="submit" value="{% translate 'This is Logut' %}">
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container wrapper flex-grow-1">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.level_tag %}{{ message.level_tag }} {% endif %}alert-dismissible fade show"
            role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            {% translate message.message %}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <div class="container">
        <div class="container my-5 pt-4 border-top">
            <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
        </div>
</body>

</html>